<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>كل المقالات</title>
</head>
<body>
  <h1>قائمة المقالات</h1>
  <ul>
    <% allArticles.forEach(article => { %>
      <li>
        <a href="/article/<%= article._id %>"><%= article.title %></a>
      </li>
    <% }) %>
  </ul>
  <a href="/">العودة</a>
</body>
</html>
