<!DOCTYPE html>
<html>
    <head>
        <title>numbers</title>
    </head>
    <body>
        <h1> Hello world <%=name%> </h1>
        <p>gjdfngfgsngd;fgngdjf</p>
        <p style="background-color: green; border: 10px; border-radius: 5px;"> numbers are: <%=numbers%> </p>
        <% if (name == "Ghadeer") {%>
        <div>
            <h2>name is Ghadeer</h2>
        </div>
        <% } %>
    </body>
</html>
